body{
    background: none !important;
}
/* ------------- 404 Error Page css ------------ */
.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
}


.four_zero_four_bg h1 {
    font-size: 50px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    transition: all 0.1s linear;
    text-decoration: none;
    color: #fff !important;
    padding: 10px 20px;
    background: #31285c;
    margin: 20px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    border-radius: 2px;
}
.link_404:hover {
    background: white;
    border: 1px solid #31285c;
    color: black !important;
}

.contant_box_404 {
    margin-top: -50px;
}