input, select{
    padding: 4px;
}
.btn-danger:disabled{
    cursor: not-allowed;
    pointer-events: all !important;
}
.btn-danger{
    z-index: 10;
}
textarea{
    padding: 10px;
}

.action-btn{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.data-table::-webkit-scrollbar {
    display: none;
}
body{
    background-image: url('/public/map.png');
}